################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Pop26.slnx/FileContentIndex/df71fab1-6714-4f19-b506-1cfd3d1b3709.vsidx
/.vs/Pop26.slnx/FileContentIndex/769bf76d-90c8-4243-8c80-e188bf9aed67.vsidx
/.vs/Pop26.slnx/FileContentIndex/b6551894-e04c-4092-89a4-31014252519f.vsidx
/.vs/Pop26.slnx/FileContentIndex
