################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Pop26.slnx/FileContentIndex/df71fab1-6714-4f19-b506-1cfd3d1b3709.vsidx
